@import "./styles/variables";

#filterAndProducts {
  position: relative;
  margin-bottom: 60px;
  // display: flex;
  @media (min-width: 768px) {
    margin-top: 10px;
  }
  .mobileButton {
    margin: 10px 0;
    //background-color: $grey-color;
  }

  .categoryName {
    font-size: 30px;
    margin-top: 20px;
  }

  .categoryText {
    font-weight: 300;
    strong {
      color: $gold-color;
    }
  }
}
