@import "./styles/variables";

.sortBar {
  background-color: $grey-color;
  padding: 10px 5px;

  //border: solid 1px red;

  //padding: 10px 0;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 10px;
    li {
      list-style-type: none;
    }
  }
}
