@import "../styles/variables";

.allProducts {
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
  //margin-top: 1px;
  justify-content: flex-start;

  .product {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px;
    //border-radius: $my-border-radius;
    border: solid 1px $dark-grey-color;
    transition: transform 0.2s, box-shadow 0.2s;
    //max-width: 295px;
    //max-height: 400px;

    // @media (max-width: 1500px) {
    //   max-width: 270px;
    // }

    // @media (max-width: 1250px) {
    //   width: 320px;
    //   max-width: 320px;
    // }

    @media (min-width: 250px) {
      width: 95%;
    }

    @media (min-width: 500px) {
      width: 46%;
    }

    @media (min-width: 850px) {
      width: 30%;
    }

    @media (min-width: 1500px) {
      width: 295px;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .imageWrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      flex-direction: column;

      .productImage {
        object-fit: contain;
        width: 100%;
        height: auto;
        max-width: 350px;
        height: 200px;
        //max-height: 250px;
        //max-height: 150px;
      }

      .labelsContainer {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 5px;
      }
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .productName {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
      }

      .productDescription {
        margin-bottom: 10px;
        font-size: 14px;
        color: black;
        font-weight: 200;
        // overflow: hidden;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // max-width: 100%;
        //text-align: center;
      }

      .productFooter {
        display: flex;
        flex-direction: column;
        margin-top: auto;
      }

      .productRatings {
        margin-bottom: 10px;
        align-self: center;
      }

      .productPriceSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        margin: 10px 0;

        .productPrice {
          font-size: 20px;
          font-weight: bold;
          //color: $gold-color;
          color: $orange-color;
        }

        .buyButton {
          padding: 4px 8px;
          background-color: $orange-color;
          opacity: 0.6;
          color: white;
          border: none;
          border-radius: $my-border-radius;
          cursor: pointer;
          transition: background-color 0.2s;

          display: flex;
          align-items: center;
          gap: 5px;

          svg {
            fill: white;
            color: white;

            width: 20px;
          }

          &:hover {
            background-color: $orange-color;
            opacity: 1;
          }
        }
      }

      .productAvailability {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        text-align: center;
        font-size: 14px;
        .deliveryDate {
          font-size: 11px;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
