@import "../styles/variables";

.propertiesWrapper {
  display: flex;
  flex-direction: column;
  margin: 5px 0;

  .property {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 5px 2px;

    &:nth-child(odd) {
      background-color: $grey-color;
    }

    &:nth-child(even) {
      border-bottom: 1px dotted $grey-color;
    }

    .right {
      color: $darker-grey-color;
      font-weight: 500;
    }
  }
}
